@model PurchaseHistory
<div class="text-center">
    <form>
        <input hidden name="id" value="@Model.Id" />
        <button class="btn btn-success" asp-action="CompleteOrder">CompleteOrder</button>
    </form>
</div>