.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(92, 85, 107); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
table{
    width:auto;
}
.sidebar-a {
    text-decoration: none !important;
    color: rgb(219, 219, 219);
}

.Pcontent{
    position:absolute;
    left:160px;
    width:auto;
    max-width:800px;
}
a.sidebar-a:hover {
    color: rgb(255, 255, 255);
}
.item {
    text-decoration: none !important;
    color: black;
}